.login {
    padding: 30px;
    box-shadow: 2px 4px 10px #666;
    width: 85%;
    border-radius: 10px;
    background: linear-gradient(to bottom right, #6d005d, #88006f);
    color: white;
    text-align: start;
    font-size: 14px;
    font-weight: 600;
    animation: loginFormEntry 0.5s ease-in 0s;
    input,
    input:focus {
        outline: none !important;
        border: none !important;
        transition: all 0.5s;
    }

    input:focus {
        outline: none !important;
        border: none !important;
        box-shadow: 0 0 3px 1px #f0e2ff, inset 0 0 3px 1px #f1e4ff;
    }
}

@keyframes loginFormEntry {
    from{
        opacity: 0;
        max-height: 0;
    }
    to{
        opacity: 1;
        max-height: 600px;
    }
}


.errText{
    color: rgb(255, 91, 91) !important;
    animation: errEntry 0.3s ease-out 0s forwards;
    text-shadow: 1px 1px 3px rgb(178, 85, 85);
}
@keyframes errEntry {
    from{
        max-height: 0;
        opacity: 0;
    }
    to{
        max-height: 80px;
        opacity: 1;
    }
}

.submitBtn {
    background: linear-gradient(to right bottom, #fad9ff, #e3abd6);
    border: none;
    color: black;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.249);
    border-radius: 6px;
    transition: all 0.06s;
    margin: auto;
    display: block;
    // font-family: consolas;
    font-weight: 600;

    &:active {
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.249);
        transform: translate(1px, 2px);
    }
}

.signUpBtn {
    outline: none;
    border: none;
    background: linear-gradient(to bottom right,
            #fae1ff,
            #ffcef6);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    padding: 0;
    -webkit-background-clip: text;

}
@media(min-width: 450px) {
    .login {
        max-width: 60%;
        // padding: 20px 40px;
    }
}

@media(min-width: 700px) {
    .login {
        max-width: 40%;
        padding: 20px 40px;
    }
}

@media(min-width: 1080px) {
    .login {
        max-width: 30%;
        padding: 20px 40px;
    }
}