.expenseItem {
    padding: 20px;
    background-color: rgb(255, 252, 246);
    border-radius: 5px;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.252), inset 0 -1px 1px rgba(0, 0, 0, 0.236);
    width: 80%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
    transition: all 0.5s;

    &:hover {
        box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.252), inset 0 -1px 1px rgba(0, 0, 0, 0.236), 1px 8px 20px rgba(0, 0, 0, 0.148);
        transform: scale(1.03);
    }
}

@media (max-width: 450px) {
    .expenseItem {
        width: 90%;
    }
}

.dateComp {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 20px;
    width: 100%;
    padding: 10px 5px;
    margin-bottom: 20px;
    background: linear-gradient(to right, #4e0142, #680055);
    // border: 2px solid rgb(90, 0, 106);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.421);
}

.dateAndTitle {
    align-items: center;
    justify-content: center !important;

    h4 {
        padding-left: 20px;
        overflow-wrap: normal;
        word-break: break-word;
    }
}


.expense-date {
    display: flex;
    flex-direction: column;
    width: 5.5rem;
    height: 5.5rem;
    border: 1px solid #ececec;
    background-color: #2a2a2a;
    color: white;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
}

.expense-date__month {
    font-size: 0.75rem;
    font-weight: bold;
}

.expense-date__year {
    font-size: 0.75rem;
}

.expense-date__day {
    font-size: 1.5rem;
    font-weight: bold;
}

.deleteBtn {
    padding: 5px 10px;
    border-radius: 50%;
    background-color: transparent;

    &:hover {
        background-color: azure;
    }
}


@media (min-width: 700px) {

    .expenseItem {
        padding: 20px;
        background-color: rgb(255, 252, 246);
        border-radius: 5px;
        box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.252), inset 0 -1px 1px rgba(0, 0, 0, 0.236);
        width: 60%;
        margin-bottom: 35px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        flex-wrap: nowrap;
        width: 60%;
    }

    .dateAndTitle {
        padding: 10px;
        width: auto !important;
        flex-direction: row !important;
        flex-grow: 1;
        align-items: center !important;
        justify-content: start !important;


    }

    .dateComp {
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        border-radius: 50%;
        width: 110px;
        height: 110px;
        padding: 10px 30px;
        margin: 0;
        background: linear-gradient(to right, #4e0142, #680055); // border: 2px solid rgb(152, 104, 197);
        // box-shadow: 0 0 2px #666,inset 0 0 10px 0px #f2d9ff51;
        transition: all 0.5s;
        border: 3px solid transparent;
        background-origin: border-box;

        &:hover {
            border: 3px solid rgb(176, 80, 255);
        }
    }
}