.form {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 60%;
    max-height: 75%;
    text-align: left;
    box-sizing: border-box;
    box-shadow: 1px 1px 10px rgba(47, 47, 47, 0.6), inset 0 0 2px rgb(146, 146, 146);
    background-color: rgb(255, 255, 255);
    overflow: auto;
    z-index: 7;
    background-color: rgb(255, 249, 255);
}

.formHeader {
    // padding: 2px 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.421);
    box-sizing: border-box;
    margin-bottom: 20px;

    strong {
        width: 100%;
        padding: 20px;
        text-align: center;
        background: linear-gradient(to right, #4e0142, #680055);
        color: white;
        display: block;
    }

    top: 0;
    position: sticky;
    width: 100%;
}

.formBody {
    position: relative;
    box-sizing: border-box;
    padding: 0px;

    .bodyContent {
        padding: 20px 40px;
    }
}

.entry {
    animation: formEntry 0.3s ease-in forwards;
}

.exit {
    animation: formExit 0.3s ease-out forwards;
}

@keyframes formEntry {
    from {
        transform: translateY(500px);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes formExit {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(500px);
    }
}

@media (max-width: 450px) {
    .form {
        max-width: 100%;
    }
}

@media (min-width: 800px) {
    .form {
        max-width: 50%;
    }
}