.form {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 50%;
    text-align: left;
    box-sizing: border-box;
    box-shadow: 1px -2px 10px rgb(82, 82, 82), inset 0 0 2px rgb(146, 146, 146);
    padding: 10px 40px;
    border-radius: 10px 10px 0px 0px;
    background-color: rgb(255, 255, 255);
    z-index: 7;
}

.entry {
    animation: formEntry 0.3s ease-in forwards;
}

.exit {
    animation: formExit 0.3s ease-out forwards;
}

@keyframes formEntry {
    from {
        transform: translateY(500px);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes formExit {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(500px);
    }
}

@media (max-width: 450px){
    .form{
        max-width: 90%;
    }
}