.backDrop {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    transform: translate3d(0, 0, 0);
    z-index: 6;
}

.enter {
    opacity: 0;
}

.enterActive {
    opacity: 1;
    transition: all 0.5s;
}


.exit {
    opacity: 1;
}

.exitActive {
    opacity: 0;
    transition: all 0.5s;
}

// @keyframes entry {
//     0% {
//         opacity: 0;
//         backdrop-filter: blur(0px);
//     }

//     99% {
//         opacity: 0.99;
//         backdrop-filter: blur(0px);
//     }

//     100% {
//         opacity: 1;
//         backdrop-filter: blur(1px);
//     }
// }

@keyframes exit {
    from {
        opacity: 1;
        // filter: blur(0px);
    }

    to {
        opacity: 0;
        // filter: blur(5px);
    }
}