.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    z-index: 10;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 1px 3px 8px rgba(68, 68, 68, 0.485), 3px 6px 13px rgba(68, 68, 68, 0.419), inset 0 -1px 3px rgba(68, 68, 68, 0.501);
    animation: entry 0.3s ease-in forwards;
}

.modalExit {
    animation: exit 0.3s ease-out forwards;
}

@keyframes entry {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes exit {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}