.header {
    width: 100%;
    position: fixed;
    background: linear-gradient(to right, #4e0142, #680055);
    top: 0;
    left: 0;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow:  1px 2px 5px 1px rgb(58, 58, 58);
}

.ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    li {
        list-style: none;
        padding-left: 15px;
    }
}