.header {
    width: 100%;
    position: fixed;
    background: linear-gradient(to right, #4e0142, #680055);
    top: 0;
    left: 0;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 10px 0px rgb(58, 58, 58), 0 0 3px #222;
    color: white;
    z-index: 10;

}

.links{
    text-decoration: none;
    color: white;
}

.ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    li {
        list-style: none;
        padding-left: 15px;
    }
}

.iconBtn{
    color: white;
    transition: all 0.4s;
    &:hover{
        color: rgb(218, 175, 255);
    }
}

.icon{
    font-size: 25px;
}